<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar-nav.ml-auto {
            margin-right: 20px;
            margin-left: 20px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if active_menu == 'register' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('register.index') }}">登録</a>
        </li>
        </ul>
        <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if active_menu == 'list' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('list.list') }}">一覧</a>
        </li>
        </ul>
    </div>
</nav>

    {% block content %}{% endblock %}

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
